@model Press_Agency_System.Models.User


@{
    ViewBag.Title = "ViewInformation";
    Layout = "~/Views/Shared/FactoryLayout.cshtml";
}
@if (Session["Username"] == null)
{
    Response.Redirect("~/User/Login");

}
else if (Session["Role"].Equals("Editor"))
{

    <h2>Hello @Model.FirstName </h2>
    <h5>This is your information</h5>

    <form id="Information">

        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserRole.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.UserRole.Name, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
            <div class="form-group">
                @if (Model.Image != null)
                {
                    <div class="image-size col-md-offset-2  col-md-10">
                        <img src="~/images/profiles/@Model.Image" alt="error" width="40" height="40" class="img-responsive image-center" />
                    </div>
                }
                @if (Model.Image == null)
                {
                    <p>Sorry there is no Image to display</p>
                }
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="/Editor/EditINformation/@Model.Id" class="btn btn-primary">Edit Data</a>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="/Editor/EditPass/@Model.Id" class="btn btn-primary">Edit Password</a>
                </div>
            </div>


        </div>
    </form>
}

