@model Press_Agency_System.ViewModels.UserAndUserRolesViewModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/WallLayout.cshtml";
}

<h2>User Registration </h2>
<div class="form-group">
    <div class=" col-md-offset-2">
        <a href="/User/LogIn"> Already Have An Account</a>
    </div>
</div>

<div class="alert alert-success" style="display:none;" id="Success">

    <strong>Inserted Successfulyy ..</strong>
</div>

<div class="alert alert-danger" style="display:none;" id="Failed">

    <strong>Insertion Failed ..</strong>
</div>



@using (Html.BeginForm("Registration", "User", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{



<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.User.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.UserName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.User.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.FirstName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.User.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.LastName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.Email)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.User.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.Password)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.User.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.ConfirmPassword)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.User.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.PhoneNumber)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.User.UserRoleId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.User.UserRoleId, new SelectList(Model.UserRoles, "Id", "Name"), "Select MemberShip", new { @class = "form-control", Type = "number" })
            @Html.ValidationMessageFor(model => model.User.UserRoleId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.User.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="file" name="file" type="file" class="text-danger" />
        </div>
    </div>

    <div>
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>

</div>
}

    @section Scripts {

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")

        <script>

            $(document).ready(function () {

                $("#Create").click(function () {

                    if ($("#Registration").valid()) {

                        myData = $("#Registration").serialize() + "&file=" + $("#file").val();
                        console.log(myData);
                        console.log($("#file").val());
                        $.ajax({

                            type: "Post",
                            url: "/User/Registration",
                            data: myData,
                            success: function (response) {
                                if (response.result == 1) {
                                    $("#Success").show(1000)
                                    $("#Success").hide(1000)
                                }

                            }

                        })
                    }
                })
            })

        </script>
    }
